<div class="flex flex-col items-center mx-auto max-w-4xl text-center mb-12">
  <div class="space-y-8 items-center flex flex-col">
    <%= render "home/headline" %>
    <%= link_to new_user_session_path, class: "bg-yellow-400 text-yellow-800 rounded-full px-5 py-2 text-lg font-semibold flex items-center space-x-3" do %>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon" style="" width="1.3em" height="1.3em" viewBox="0 0 16 16" data-v-bd832875=""><path fill="currentColor" fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8" clip-rule="evenodd"></path></svg>
      <p>[INSERT CTA]</p>
    <% end %>
  </div>
  <div class="border-dashed border-gray-500 border-4 rounded-xl p-5 my-24 text-left space-y-4">
    <h1 class="text-xl">Story</h1>
    <h1 class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis?</h1>
    <h1 class="font-bold text-xl">Quis similique nisi eius possimus? Ipsum nostrum incidunt consequatur voluptatibus inventore quo officia.</h1>
  </div>
  <div class="text-left">
    <h2 class="text-3xl font-bold leading-2">The first X tool that Y</h2>
    <div class="flex max-w-[750px] mx-auto flex-col gap-12 text-lg md:flex-row my-12">
      <div class="flex-1 rounded-lg bg-[#2B2326] p-6 text-red-200">
        <p class="mb-3 text-xl font-semibold text-rose-500">😔 Without [PRODUCT_NAME]</p>
        <ul class="space-y-4">
          <li>1️⃣ A</li>
          <li>2️⃣ A</li>
          <li>3️⃣ A</li>
          <li>4️⃣ A</li>
        </ul>
      </div>
      <div class="flex-1 rounded-lg bg-[#26322D] p-6 text-green-200">
        <p class="mb-3 text-xl font-semibold text-green-500">😎 With [PRODUCT_NAME]</p>
        <ul class="space-y-4">
          <li>1️⃣ A</li>
          <li>2️⃣ A</li>
          <li>3️⃣ A</li>
          <li>4️⃣ A</li>
        </ul>
      </div>
    </div>
  </div>
  <%= link_to new_user_session_path, class: "bg-yellow-400 text-yellow-800 rounded-full px-5 py-2 text-lg font-semibold flex items-center space-x-3" do %>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon" style="" width="1.3em" height="1.3em" viewBox="0 0 16 16" data-v-bd832875=""><path fill="currentColor" fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8" clip-rule="evenodd"></path></svg>
    <p>[INSERT CTA]</p>
  <% end %>
  <div class="text-left pt-12">
    <h2 class="text-3xl text-center font-bold leading-2 mb-12">Use cases:</h2>
    <%-
     use_cases = [
      {title: "A...", description: "A..."},
      {title: "C...", description: "C..."},
      {title: "D...", description: "D..."},
      {title: "E...", description: "E..."}
     ]
    -%>
    <div class="flex max-w-[600px] flex-col gap-3">
      <% use_cases.each_with_index do |el, idx| %>
        <div class="rounded-md bg-zinc-800 p-6">
          <div class="text-lg font-semibold text-zinc-100"><%= idx %>. <%= el[:title] %></div>
          <div class="text-zinc-400"><%= el[:description] %></div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to new_user_session_path, class: "mt-12 bg-yellow-400 text-yellow-800 rounded-full px-5 py-2 text-lg font-semibold flex items-center space-x-3" do %>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon" style="" width="1.3em" height="1.3em" viewBox="0 0 16 16" data-v-bd832875=""><path fill="currentColor" fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8" clip-rule="evenodd"></path></svg>
    <p>[INSERT CTA]</p>
  <% end %>
</div>
